// Colors
$white: #fff;
$gray-color: rgba(0, 0, 0, 0.05);
$dark-gray-color: rgba(0, 0, 0, 0.14);

// Border styles
$primary-border: 1px solid $dark-gray-color;

// Sidebar image path
$logo-image-path: "https://cdn.rawgit.com/jwmay/club-tracker/123b846e/prototype/assets/img/nhs-logo.png";