<ul id="sidenav" class="sidenav sidenav-fixed">
  <div class="logo" alt="NHS logo"></div>
  <li>
    <a class="nav-link sidenav-close" data-page="dashboard">
      <i class="fas fa-fw fa-2x fa-tachometer-alt"></i> Dashboard
    </a>
  </li>
  
  <li>
    <a class="dropdown-trigger" data-target="membersDropdown">
      <i class="fas fa-fw fa-2x fa-user"></i> Members
    </a>
    <ul id="membersDropdown" class="dropdown-content">
      <li>
        <a class="nav-link sidenav-close" data-page="addMember">
          <i class="fas fa-fw fa-2x fa-plus-circle"></i> Add member
        </a>
      </li>
      <li>
        <a class="nav-link sidenav-close" data-page="viewMembers">
          <i class="fas fa-fw fa-2x fa-eye"></i> View members
        </a>
      </li>
    </ul>
  </li>

  <li>
    <a class="dropdown-trigger" data-target="attendanceDropdown">
      <i class="fas fa-fw fa-2x fa-users"></i> Attendance
    </a>
    <ul id="attendanceDropdown" class="dropdown-content">
      <li>
        <a class="nav-link sidenav-close" data-page="takeAttendance">
          <i class="fas fa-fw fa-2x fa-plus-circle"></i> Take attendance
        </a>
      </li>
      <li>
        <a class="nav-link sidenav-close" data-page="viewAttendance">
          <i class="fas fa-fw fa-2x fa-eye"></i> View attendance
        </a>
      </li>
    </ul>
  </li>

  <li>
    <a class="dropdown-trigger" data-target="financialDropdown">
      <i class="fas fa-fw fa-2x fa-money-bill-wave"></i> Financial
    </a>
    <ul id="financialDropdown" class="dropdown-content">
      <li>
        <a class="nav-link sidenav-close" data-page="viewAccounts">
          <i class="fas fa-fw fa-2x fa-eye"></i> View Accounts
        </a>
      </li>
      <li>
        <a class="nav-link sidenav-close" data-page="runFundraiser">
          <i class="fas fa-fw fa-2x fa-hand-holding-usd"></i> Run Fundraiser
        </a>
      </li>
      <li>
        <a class="nav-link sidenav-close" data-page="manageShirts">
          <i class="fas fa-fw fa-2x fa-tshirt"></i> Manage Shirts
        </a>
      </li>
    </ul>
  </li>
  
  <li>
    <a class="dropdown-trigger" data-target="communityServiceDropdown">
      <i class="fas fa-fw fa-2x fa-people-carry"></i> Community Service
    </a>
    <ul id="communityServiceDropdown" class="dropdown-content">
      <li>
        <a class="nav-link sidenav-close" data-page="viewCommunityService">
          <i class="fas fa-fw fa-2x fa-eye"></i> View Service Hours
        </a>
      </li>
      <li>
        <a class="nav-link sidenav-close" target="_blank" href="https://docs.google.com/forms/d/1zETU6xeD5KujYMe2u-leUCfWEcvJIJvo61KlHfGepOo/edit#responses">
          <i class="fas fa-fw fa-2x fa-thumbs-up"></i> Approve Service Hours
        </a>
      </li>
    </ul>
  </li>

  <li>
    <a class="nav-link sidenav-close" target="_blank" href="https://docs.google.com/spreadsheets/d/166SR7sg44reANF2Nf9Bajsv0veMzGDZbju__Wn9jqqk/edit#gid=0">
      <i class="fas fa-fw fa-2x fa-database"></i> View Database
    </a>
  </li>
</ul>