$(document).ready(function() {
  initialize();
  
  // Initialize sidebar navigation, which toggles on mobile displays
  $('.sidenav').sidenav();

  // Handle navigation button clicks
  $('a.nav-link').click(function() {
    var page = $(this).attr('id');
    getPage(page);
  });

  // Initialize datepickers on dynamically-generated input elements
  $('body').on('focus', '.datepicker', function(){
    $(this).datepicker();
  });


  // Handle the submit button click
  $('form.application').submit(function() {
    if ($(this).valid()) {
      console.log('valid form');
    }
  });


  // Handle the attendance action button selections, which involves enabling a
  // textarea when the 'excused' absence type is selected, and disabling the
  // textarea when the 'present' or 'absent' type is selected
  $(document).on('click', 'input[name^="attendance-"]', function() {
    var $selector = $(this).parents('.selector'),
        $checked = $selector.find(':checked'),
        $textarea = $selector.parent().find('textarea');
    // Textarea is only used for 'excused' absence type
    if ($checked.val() === 'e') {
      $textarea.prop({
        'disabled': false,
        'required': true
      });
    } else {
      $textarea.prop({
        'disabled': true,
        'required': false
      }).removeClass('valid invalid');
    }
  });


  // $('.collapsible').collapsible();
  // $('.dropdown-trigger').dropdown();
  // $('.tooltipped').tooltip({
  //   margin: 1,
  //   position: 'top'
  // });

  // $('input[name="quarter"]').click(function() {
    // console.log( $('input[name="quarter"]:checked').val() );
  // });
});


function initialize() {
  getPage('dashboard');
}


function getPage(page) {
  showLoading();
  google.script.run
    .withSuccessHandler(updateDisplay)
    .getAppPage(page);
}


function submit() {
  var page = $('#submit').data("page");
  console.log('SUBMIT PAGE: ' + page);
}