$(document).ready(function() {
  initialize();
  
  // Initialize dropdowns and sidebar, which toggles on mobile displays
  $('.sidenav').sidenav();
  $('.dropdown-trigger').dropdown();
  
  // Initialize datepickers on dynamically-generated input elements
  $('body').on('focus', '.datepicker', function() {
    $(this).datepicker();
  });
    
  // Handle navigation button clicks, some of which are dynamically generated
  $(document).on('click', 'a.nav-link, a.btn-floating, div.panel', function() {
    var page = $(this).attr('id');
    getPage(page);
  });

  // Handle the edit member button click
  $(document).on('click', '#editMember', function() {
    getPage('editMember', {rosterId: $(this).data('rosterid')});
  });

  // Handle the dynamically-generated submit button click
  $('form.application').submit(function() {
    if ($(this).valid()) {
      submit();
    }
  });

  // Handle the dynamically-generated cancel button click
  $(document).on('click', '#cancel', function() {
    getPage($(this).data('page'));
  });

  // Handle the attendance action button selections, which involves enabling a
  // text input when the 'excused' absence type is selected, and disabling the
  // input when the 'present' or 'absent' type is selected
  $(document).on('click', 'input[name^="attendance-"]', function() {
    var $selector = $(this).parents('.selector'),
        $checked = $selector.find(':checked'),
        $reason = $selector.parent().find('input[name^="reason-"]');
    // Textarea is only used for 'excused' absence type
    if ($checked.val() === 'E') {
      $reason.prop({
        'disabled': false,
        'required': true
      });
    } else {
      $reason.prop({
        'disabled': true,
        'required': false
      }).removeClass('valid invalid');
    }
  });
});


/**
 * Load the app by getting the dashboard page.
 */
function initialize() {
  getPage('dashboard');
}


/**
 * Shows the given page on the app display by running a server-side controller.
 * 
 * @param {String} page The name of the page to display.
 * @param {Object} args An optional object for passing controller options.
 */
function getPage(page, args) {
  showLoading();
  google.script.run
    .withSuccessHandler(updateDisplay)
    .getAppPage(page, args);
}


/**
 * Handles the submit button click by processing the given form data using the
 * page controller.
 */
function submit() {
  var page = $('#submit').data('page');
  showLoading();
  switch(page) {
    case 'takeAttendance':
      getAttendance_();
      break;
    case 'addMember':
      getMember_();
      break;
  }
}


/**
 * Gathers the form data and runs server-side functions to write save data in
 * the database spreadsheet for the 'Take Attendance' page.
 * 
 * @private
 */
function getAttendance_() {
  var form = new FormHandler();
  var attendance = {
    date: form.getValue('#date'),
    name: form.getValue('#name'),
    quarter: form.getValue('input[name="quarter"]:checked'),
    rosterIds: form.getValues('input[name="rosterId"]'),
    marks: form.getValues('input[name^="attendance-"]:checked'),
    reasons: form.getValues('input[name^="reason-"]')
  };
  google.script.run
    .withSuccessHandler(updateDisplay)
    .saveAttendance(attendance);
}


/**
 * Gathers the form data and runs server-side functions to write save data in
 * the database spreadsheet for the 'Add/Edit Member' page.
 * 
 * @private
 */
function getMember_() {
  var form = new FormHandler();
  var member = {
    rosterId: form.getValue('#rosterId'),
    firstName: form.getValue('#firstName'),
    lastName: form.getValue('#lastName'),
    studentNumber: form.getValue('#studentNumber'),
    birthdate: form.getValue('#birthdate'),
    grade: form.getValue('input[name="grade"]:checked'),
    gender: form.getValue('input[name="gender"]:checked'),
    yearJoined: form.getValue('#year'),
    membershipStatus: form.getValue('#status'),
  };
  google.script.run
    .withSuccessHandler(updateDisplay)
    .saveMember(member);
}